div{
    background-color: burlywood;
    width: 80%; /* 80% of the width of the parent element i.e body*/
    margin-left: auto;
    margin-right: auto;
}

.menu{
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url(https://blablabla.com/image.jpg);
    background-color: green; /*This will be overriden by background-image because the color is drawn behind the background image*/
}

p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:visited{
    color:blue;
}
a:hover{
    color:brown;
}

a:active{
    color:white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}